body{
    background-color: #851400;
    background-image: url('../images/black-linen.png');
}

img{
    max-width: 100%;
    /* padding: 20px; */
    margin: 5px;
    border: 1px solid black;
}

h1{
    font-size: 40px;
    font-family: 'Limelight', cursive;
}

.content{
    padding: 20px;
    margin: 20px;
    background-color: white;
    border: 10px double black;
}

.header{
    margin-top: 20px;
}

#search-container, #movie-grid{
    margin-top: 10px;
    padding-top: 10px;
}

#search-input{
    width: 25%;
    border-radius: 5px;
    height: 35px;
}

.modal-details{
    margin-top: 20px;
}
