*{
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #851400;
    background-image: url('../images/black-linen.png');
}

h1,h2,h3{
    font-size: 40px;
    font-family: 'Limelight', cursive;
    font-weight: bold;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

img{
    width: 100%;
    margin: 10px;
    border: 1px solid black;
    height: 300px;
}

.movie-poster-div{
    padding: 0px;
    margin: 5px;
    text-align: center;
}

.movie-grid-div{
    left: 35px;
}

.content{
    padding: 20px;
    margin: 20px;
    background-color: white;
    border: 10px double black;
}

.header{
    margin-top: 20px;
}

#search-container, #movie-grid{
    margin-top: 10px;
    padding-top: 10px;poster
    margin-bottom: 10px;
}

#search-input{
    width: 25%;
    border-radius: 5px;
    height: 35px;
}

.modal-details{
    margin-top: 20px;
}

#filter-button{
    margin-bottom: 5px;
}